@page "/"
@inject IJSRuntime JS


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<div id="openseadragon2" style="width: 800px; height: 600px;"></div>


@code
{
    private string imageUrl = @"https://i.imgur.com/A9AOyTV.jpeg";

		protected override async Task OnAfterRenderAsync(bool firstRender)
		{
				if (firstRender)
				{
						await JS.InvokeVoidAsync("initOpenSeaDragon", "openseadragon2", imageUrl);
				}
		}



}